<div class="row roulette">
    <h4>Strat Roulette</h4>

    <div class="col s6 select-team">
        <a class="waves-effect waves-light btn CT">CT Strats</a>
    </div>
    <div class="col s6 select-team">
        <a class="waves-effect waves-light btn T">T Strats</a>
    </div>
    <div class="col s12 content-roulette">
        <blockquote class="content-strat" style="display:none;"></blockquote>
    </div>
</div>
