<% content_for :title, "Strat Roulette - Obv1ous" %>
<div class="row roulette">
    <h1 class='title_section'>Strat Roulette</h1>
    <p class='intro'>
        Générateur de tactique et de stratégie sur CS:GO en français, pour toujours plus de fun.
    </p>
    <div class="col s6 select-team">
        <%= link_to 'CT Strats', roulette_CT_path, method: :patch, remote: true, :class => 'waves-effect waves-light btn CT' %>
    </div>
    <div class="col s6 select-team">
        <%= link_to 'T Strats', roulette_T_path, method: :patch, remote: true, :class => 'waves-effect waves-light btn T' %>
    </div>
    <div class="col s12 content-roulette">
        <span class="title-strat"></span>
        <blockquote class="content-strat" style="display:none;"></blockquote>
    </div>
</div>
