<div class="row roulette">
    <h4>Strat Roulette</h4>

    <div class="col s6 select-team">
        <%= link_to 'CT Strats', roulette_CT_path, method: :patch, remote: true, :class => 'waves-effect waves-light btn CT' %>
    </div>
    <div class="col s6 select-team">
        <%= link_to 'T Strats', roulette_T_path, method: :patch, remote: true, :class => 'waves-effect waves-light btn T' %>
    </div>
    <div class="col s12 content-roulette">
        <blockquote class="content-strat" style="display:none;"></blockquote>
    </div>
</div>
