<div class="row">
    <div class="col s12 m12 l8 news">
        <div class="img_news">
            <%= image_tag(@new.image) %>
        </div>
        <div class="content-news">
            <h4 class='titre col s12'>
                <%= @new.title %>
            </h4>
            <span class="content-news col s12">
                <%= @new.content.html_safe %>
            </span>
        </div>
    </div>

    <div class="col s4 hide-on-med-and-down"><!-- pour cacher en mobile .hide-on-small-only -->
        <div class="TwitchIndex">
            <iframe src="http://www.twitch.tv/sweubi/embed" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="scocialIndex">
            <a target="_blank" href="https://twitch.tv/sweubi"><img src="../assets/twitch-sweubi.png" width='100%' alt="IMG for scocial" /></a>
            <a target="_blank" href="https://www.youtube.com/channel/UC_H1whaKGgectggA3eFJJqA"><img src="../assets/yt-gaviil.png" width='100%' alt="IMG for scocial" /></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCiT9Webajin3iuBHySfuQ3w"><img src="../assets/yt-sweubi.png" width='100%' alt="IMG for scocial" /></a>
        </div>

    </div>
</div>
