/********************
       A D M I N
 ********************/
.admin {
    background-color: #fff;

    .nav-wrapper{
        padding-left: 200px;
    }
    header {
    	.logo {
	        border-bottom: 1px solid #242424;
	        .brand-logo {
	            text-align: center;

	            .admin-page-logo {
	                height: 64px;
	            }
	        }
	    }
    }

    main {
        padding-left: 240px;
    }


    .side-nav{
        background: #2a2a2a !important;

        .collapsible-body ul li a {
            font-weight: normal;
        }

        a{
            height: 55px;
            line-height: 55px !important;
        }
        li:hover{
            background: #1F1F1F !important;
        }
    }
    .side-nav li{
        padding: 0px !important;
    }
    .side-nav.fixed a{
        padding: 0px 30px !important;
    }
    .side-nav li:hover, .side-nav li.active{
        background: #242424 !important;
    }
    .side-nav.fixed a{
        color:#f4f4f4 !important;
    }
    .side-nav .collapsible-header{
        line-height: 55px !important;
    }
    .collapsible-body ul li{
        background:#3a3a3a;
    }
    .img-news img{
        max-width: 100%;
    }
    .select-wrapper span{
        color:#0288d1;
    }


    .radio-color{

        #radio_blue:checked + label:after{
            border: 2px solid #1e88e5;
            background-color: #1e88e5;
        }
        #radio_green:checked + label:after{
            border: 2px solid #43a047;
            background-color: #43a047;
        }
        #radio_orange:checked + label:after{
            border: 2px solid #ff9800;
            background-color: #ff9800;
        }
        #radio_yellow:checked + label:after{
            border: 2px solid #fdd835;
            background-color: #fdd835;
        }
        #radio_purple:checked + label:after{
            border: 2px solid #673ab7;
            background-color: #673ab7;
        }

        #radio_blue:not(:checked) + label:before{
            border:2px solid #1e88e5;
        }
        #radio_green:not(:checked) + label:before{
            border:2px solid #43a047;
        }
        #radio_orange:not(:checked) + label:before{
            border:2px solid #ff9800;
        }
        #radio_yellow:not(:checked) + label:before{
            border:2px solid #fdd835;
        }
        #radio_purple:not(:checked) + label:before{
            border:2px solid #673ab7;
        }



        #radio_blue2:checked + label:after{
            border: 2px solid #1e88e5;
            background-color: #1e88e5;
        }
        #radio_green2:checked + label:after{
            border: 2px solid #43a047;
            background-color: #43a047;
        }
        #radio_orange2:checked + label:after{
            border: 2px solid #ff9800;
            background-color: #ff9800;
        }
        #radio_yellow2:checked + label:after{
            border: 2px solid #fdd835;
            background-color: #fdd835;
        }
        #radio_purple2:checked + label:after{
            border: 2px solid #673ab7;
            background-color: #673ab7;
        }

        #radio_grey2:checked + label:after{
            border: 2px solid #93938d;
            background-color: #93938d;
        }
        #radio_pink2:checked + label:after{
            border: 2px solid #eb66a6;
            background-color: #eb66a6;
        }
        #radio_jade2:checked + label:after{
            border: 2px solid #048a7f;
            background-color: #048a7f;
        }
        #radio_brown2:checked + label:after{
            border: 2px solid #7b3e1a;
            background-color: #7b3e1a;
        }
        #radio_red2:checked + label:after{
            border: 2px solid #ef3c49;
            background-color: #ef3c49;
        }
        #radio_black2:checked + label:after{
            border: 2px solid #242424;
            background-color: #242424;
        }



        #radio_blue2:not(:checked) + label:before{
            border:2px solid #1e88e5;
        }
        #radio_green2:not(:checked) + label:before{
            border:2px solid #43a047;
        }
        #radio_orange2:not(:checked) + label:before{
            border:2px solid #ff9800;
        }
        #radio_yellow2:not(:checked) + label:before{
            border:2px solid #fdd835;
        }
        #radio_purple2:not(:checked) + label:before{
            border:2px solid #673ab7;
        }
        #radio_pink2:not(:checked) + label:before{
            border:2px solid #eb66a6;
        }
        #radio_jade2:not(:checked) + label:before{
            border:2px solid #048a7f;
        }
        #radio_grey2:not(:checked) + label:before{
            border:2px solid #93938d;
        }
        #radio_brown2:not(:checked) + label:before{
            border:2px solid #7b3e1a;
        }
        #radio_red2:not(:checked) + label:before{
            border:2px solid #ef3c49;
        }
        #radio_black2:not(:checked) + label:before{
            border:2px solid #242424;
        }

        [type="radio"] + label:before, [type="radio"] + label:after{
            width: 24px;
            height: 24px;
        }
    }
    .champ{
        margin-bottom: 20px;
    }
    [type="checkbox"].filled-in:checked + label:after{
        border: 2px solid #0288d1;
        background-color: #0288d1;
    }
    .weladm{
        text-align: center;
    }
    #WelcomAdmin{
        font-weight: bold;
        margin-top: 50px;
        font-size: 20px;
    }
}
.collapsible{
    border:none !important;
}
