<% content_for :title, "Membre de l'équipe - Obv1ous" %>
<div class="row team">
    <div class="col s12 m12 l12">
        <h1 class='title_section'>Team Obv1ous</h1>
        <p class="infoTeam">
            La team Obv1ous est une équipe e-sport amateur ayant pour objectif de progresser sur
            Counter Strike : Global Offensive en équipe. Nous sommes disponibles pour organiser
            des matchs contre d’autres équipes, pour ce faire ajoutez l’un de nous sur Steam ou envoyez un mail à sweubi@gmail.com.
        </p>
        <div class="row">
            <% @team.each do |players| %>
                <div class="col s12 m6">
                  <div class="card">
                    <div class="card-color team-<%= players.color %>">
                        <%= image_tag("team-ico/#{players.avatar_color}.png", :class => "circle") %>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col s6">
                                <!-- <i class="material-icons icoinfoplayer" data="Capitain">stars</i>
                                <i class="material-icons icoinfoplayer" data="Tryhard">group</i>
                                <i class="material-icons icoinfoplayer" data="Fun">mood</i>
                                <span class="infoPlayer"></span> -->
                            </div>
                            <div class="col s6 nameplayer">
                                <%= link_to players.name , team_path(players.id) %>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                  </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
