<div class="row team">
    <div class="col s12 m12 l12">
        <h4>Team Obv1ous</h4>
        <div class="row">
            <% @team.each do |players| %>
                <div class="col s12 m6">
                  <div class="card">
                    <div class="card-color team-<%= players.color %>">
                        <%= image_tag("team-ico/#{players.avatar_color}.png", :class => "circle") %>
                    </div>
                    <div class="card-action">
                        <%= link_to players.name , team_path(players.id) %>
                    </div>
                  </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
