<% content_for :title, "Membre de l'équipe - Obv1ous" %>
<div class="row team">
    <div class="col s12 m12 l12">
        <h1 class='title_section'>Team Obv1ous</h1>
        <p class="infoTeam">
            Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet, non quo modo efficiatur concludaturque ratio tradit, non qua via captiosa solvantur ambigua distinguantur ostendit; iudicia rerum in sensibus ponit, quibus si semel aliquid falsi pro vero probatum sit, sublatum esse omne iudicium veri et falsi putat. prac [<span>OPEN</span>]
        </p>
        <div class="row">
            <% @team.each do |players| %>
                <div class="col s12 m6">
                  <div class="card">
                    <div class="card-color team-<%= players.color %>">
                        <%= image_tag("team-ico/#{players.avatar_color}.png", :class => "circle") %>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col s6">
                                <i class="material-icons icoinfoplayer" title="Capitain">stars</i>
                                <i class="material-icons icoinfoplayer" title="Tryhard">group</i>
                                <i class="material-icons icoinfoplayer" title="Fun">mood</i>
                            </div>
                            <div class="col s6 nameplayer">
                                <%= link_to players.name , team_path(players.id) %>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
