<div class="row">
    <div class="col s12 m12 l12">
            <div class="showPlayer">
                <img src="https://photos-4.dropbox.com/t/2/AAAsW-NmcNqfGn6VN6oLgVcBCQNFOHRRxvRQvJQEIu6SNA/12/74022616/png/32x32/1/_/1/2/orange.png/ELLstzkY5EMgBygH/wbzYYiqa5yhM865ynt4M8ZTeqxGmMe5puCFgnRoFSHA?size=1024x768&size_mode=2" class="circle" alt="" />
                <span>Pseudo</span>
            </div>
    </div>
</div>
