<div class="row">
    <div class="col s12 m12 l12">
            <div class="showPlayer">
                <img src="/assets/logo-trans-259a02ab86f263dfbb4afe0771098a4809281bf7233c016745c39b5ba46b0235.png" class="circle" alt="" />
                <span>Pseudo</span>

                <table>
                    <tr>
                        <td>
                            Grade Actuel
                        </td>
                        <td>
                            test
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Grade le plus haut
                        </td>
                        <td>
                            test
                        </td>
                    </tr>
                </table>
            </div>
    </div>
</div>
