<div class="row">
    <div class="col s12 m12 l12">
            <div class="showPlayer">
                <span>Pseudo</span>

                <div class="row">
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s3"><a href="#showPlayer1">Jeux</a></li>
                    <li class="tab col s3"><a href="#showPlayer2">Infos</a></li>
                    <li class="tab col s3 disabled"><a href="#showPlayer3">API Stats</a></li>
                  </ul>
                </div>
                <div id="showPlayer1" class="col s12 infojoueur">
                    <div class="games">
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/lol.png') %>
                        </div>
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/csgo.png') %>
                        </div>
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/rocket.png') %>
                        </div>
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/block.png') %>
                        </div>

                    </div>
                </div>
                <div id="showPlayer2" class="col s12 infojoueur"></div>
                <div id="showPlayer3" class="col s12 infojoueur">disabled</div>
              </div>
            </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>
