<div class="row">
    <div class="col s4">
        <img class="materialboxed responsive-img" src="http://forums.lastbullet.net/mydownloads/previews/preview_698_1439678709_cb55b8e5c5bf11af3fff6f5ec9efeec2.jpg">
    </div>
    <div class="col s4">
        <img class="materialboxed responsive-img" src="http://img0.gm.gtsstatic.com/wallpapers/9134bdcc0afcad4b9271196f8f62906c_large.jpeg">

    </div>
    <div class="col s4">
        <img class="materialboxed responsive-img" src="http://www.gunnars.com/wp-content/uploads/2014/11/csgo.jpg">

    </div>
    <div class="col s4">
        <img class="materialboxed responsive-img" src="http://www.gunnars.com/wp-content/uploads/2014/11/csgo.jpg">

    </div>
    <div class="col s4">
        <img class="materialboxed responsive-img" src="http://www.gunnars.com/wp-content/uploads/2014/11/csgo.jpg">

    </div>
    <div class="col s4">
        <img class="materialboxed responsive-img" src="http://www.gunnars.com/wp-content/uploads/2014/11/csgo.jpg">

    </div>
</div>
