<div class="row">
    <div class="col s4">
        <img class="materialboxed responsive-img" src="https://www.g2a.com/media/catalog/product/cache/0/thumbnail/1024x768/17f82f742ffe127f42dca9de82fb58b1/c/s/cs_go_4__1.jpg">
    </div>
    <div class="col s4">
        <img class="materialboxed responsive-img" src="http://www.maffir.com/wp-content/uploads/2014/12/poster3.jpg">

    </div>
    <div class="col s4">
        

    </div>
</div>
