<div class="col s4 hide-on-med-and-down"><!-- pour cacher en mobile .hide-on-small-only -->
    <div class="TwitchIndex">
        <iframe src="http://www.twitch.tv/sweubi/embed" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="scocialIndex">
        <a target="_blank" rel="nofollow" href="https://twitch.tv/sweubi" rel="nofollow"><%= image_tag('twitch-sweubi.png', :class => "") %></a>
        <a target="_blank" rel="nofollow" href="https://www.youtube.com/channel/UC_H1whaKGgectggA3eFJJqA" rel="nofollow"><%= image_tag('yt-gaviil.png', :class => "") %></a>
        <a target="_blank" rel="nofollow" href="https://www.youtube.com/channel/UCiT9Webajin3iuBHySfuQ3w" rel="nofollow"><%= image_tag('yt-sweubi.png', :class => "") %></a>
    </div>
</div>
