<div class="col s4 hide-on-med-and-down"><!-- pour cacher en mobile .hide-on-small-only -->
    <div class="TwitchIndex">
        <iframe src="http://www.twitch.tv/sweubi/embed" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="scocialIndex">
        <a target="_blank" href="https://twitch.tv/sweubi" rel="nofollow"><img src="assets/twitch-sweubi.png" width='100%' alt="IMG for scocial" /></a>
        <a target="_blank" href="https://www.youtube.com/channel/UC_H1whaKGgectggA3eFJJqA" rel="nofollow"><img src="assets/yt-gaviil.png" width='100%' alt="IMG for scocial" /></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCiT9Webajin3iuBHySfuQ3w" rel="nofollow"><img src="assets/yt-sweubi.png" width='100%' alt="IMG for scocial" /></a>
    </div>
</div>